*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

body{
    background-color: #F5F5F5;
    position: relative;
}

main{
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 20px;
    position: relative;
    
}

h1{
    text-align: center;
    justify-content: center;
    font-size: 300%;
    font-weight: bold;
    color: #373A3C;
    
}

.left-wing{
    text-align: center;
    justify-content: center;
    background-image: linear-gradient( 90deg, #2F53FF 0%, #8C1AEC 100%);
    border-radius: 20px 90px 0 50px;
    width: 530px;
    height: 145px;
    margin-right: 5px;
    color: #FCFCFC;
    position: relative;
    z-index: 2;
    margin-left: 5px;
    
    
}

.image_left{
    height: 85px;
    width: 85px;
    position: relative;
    top: -36px;
    right: -222px;
    
}

.right-wing{
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #FF9761, #FF424E);
    border-radius: 90px 20px 50px 0;
    width: 523px;
    height: 145px;
    margin-left: 5px;
    color: #FCFCFC;
    position: relative;
    z-index: 2;
}

.image_right{
    height: 85px;
    width: 160px;
    position: relative;
    top: -35px;
    right: 182px;
}

.bas{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -90px;
    z-index: 1;
    
}

.bottom{
    
    width: 1065px;
    background-color: #FCFCFC;
    border-radius: 20px;
    color: #373A3C;
    height: 320px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    line-height: 1.5rem;
    
}

.bottom:before{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 99%;
    height: 10%;
    background-color: #373A3C;
    z-index: -1;
    filter: blur(4px);
    border-radius: 20px;
}

.Con, .Become, .Find{
    position: relative;
    top: 120px;
}

.Con{
    font-size: 180%;
}

.Become{
    font-size: 110%;
}

.Find{
    line-height: 0.5rem;
}

h4{
    color: #2CACD6;
}

/* Déplacement texte left-wing */

.OrgaL{
    line-height: 1rem;
    position: relative;
    right: 25px;
    font-size: 120%;
    font-weight: 200;
}

.PlanL{
    line-height: 0;
    position: relative;
    top: -4px;
    right: 25px;
    font-size: 175%;
    font-weight: 650;
}

.TripL{
    position: relative;
    right: 25px;
    font-weight: 200;
}

/* Déplacement texte right-wing */

.OrgaR{
    line-height: 1rem;
    position: relative;
    right: -25px;
    font-size: 120%;
    font-weight: 200;
}

.PlanR{
    line-height: 0;
    position: relative;
    top: -4px;
    right: -25px;
    font-size: 175%;
    font-weight: 650;
}

.TripR{
    position: relative;
    right: -25px;
    font-weight: 200;
}

